/* ==========================================================================
    FONTFACE
   ========================================================================== */
@font-face {
	font-family: 'socialmedia';
	src:url('../fonts/socialmedia.eot');
	src:url('../fonts/socialmedia.eot?#iefix') format('embedded-opentype'),
		url('../fonts/socialmedia.woff') format('woff'),
		url('../fonts/socialmedia.ttf') format('truetype'),
		url('../fonts/socialmedia.svg#socialmedia') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'socialmedia';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-align: center;
	font-size: 20px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e600";
}
/* ==========================================================================
    CLEARFIX
   ========================================================================== */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
/* ==========================================================================
    CSS
   ========================================================================== */
body{
	overflow-y: scroll;
	overflow-x: hidden;
}
/* -- HEADER -- */
header{
	width: 100%;
	height: 70px;
	background-color: #191919;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}
nav{
	margin: 0 auto;
	width: 1020px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: 300;
	letter-spacing: 1px;
}
.brand{
	width: 70px;
	height: 70px;
	background-image: url("../img/brand.png");
	background-color: #fff;
	background-repeat: no-repeat;
	display: inline-block;
    background-color: #191919;
    background-position: 0 0px;
    transition: background-position ease 0.3s;
    -webkit-transition: background-position ease 0.3s; /* Safari */
}
.brand:hover{
    background-position: 0 -70px;
}
.menu{
	float: right;
	overflow: hidden;
	height: 70px;
}
.menu li{
	float: left;
	display: block;
	padding: 14px 0px 0 0px;
	position: relative;
	width: 70px;
	height: 140px;
	transition: ease 0.3s;
    -webkit-transition: ease 0.3s; /* Safari */
    margin: 0 10px;
    line-height: 20px;
}
.menu h1{ 
/* -- ESTO SIRVE PARA METER EL CONTENIDO DE CADA "LI" DEL MENU EN "H1" SIN ALTERAR EL DISEÑO ORIGINAL,
ESTO AYUDA AL POSICIONAMIENTO EN BUSCADORES Y EMPATIZA CON LOS BUSCADORES  -- */
	font-family: 'Oswald', sans-serif;
	font-size: initial;
	font-weight: 300;
	margin: initial;
	text-align: initial;
	text-transform: initial;
}
.menu li.social{
	padding-top: 20px;
	width: 30px;
}
.menu span{
	display: block;
	padding: 14px 10px 0 10px;
	width: 70px;
	height: 70px;
	background-color: #FFF;
	color: #191919;
	position: absolute;
	top: 70px;
	left: -10px;
}
.menu li.social span{
	width: 30px;

}
.menu li:hover{
	top:-70px;
}
/* -- BARRA DE LENGUAJE -- */
.lang{
	width: 1020px;
	margin: 0 auto;
	text-align: right;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
}
.lang a{
	padding: 10px;
	display: inline-block;
	transition: ease 0.3s;
    -webkit-transition: ease 0.3s; /* Safari */
}
.lang a:hover{
	background-color: #FFED00;
}
/* -- CONTENEDOR -- */
#container{
	width: 1020px;
	margin: 0 auto;
	text-align: center;
}
.page-text{
	border-top: 5px solid #191919;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 5px solid #191919;
}
.page-text>h1{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	margin:0 150px;
	border-bottom: 1px solid #191919;
	font-size: 20px;
	padding-bottom: 5px;
}
.page-text>p{
	margin: 15px 150px;
	font-size: 12px;
	line-height: 18px;
	font-family: 'Lora', serif;
	text-align: justify;
}
.page-text p:last-child{
	border-bottom: 1px solid #191919;
	padding-bottom: 15px;
}
h1{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin:50px 0;
	text-align: left;
	text-transform: uppercase;
}
.poster{
	width: 100%;
}
.poster img{
	max-width: 50%;
	padding: 5px;
	float: left;

	box-sizing:border-box;
	-webkit-box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 15px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 15px  rgba(0,0,0,0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.imgText{
	padding: 10px 150px 20px 150px;
	box-sizing:border-box;
	float: left;
}
.imgText img{
	width: 100%;
}
.imgText h2{
	display: block;
	text-align: left;
	font-size: 12px;
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 100;
	color: #555;
	padding: 3px;
}
.monje {
	display: inline-block;
	font-size: 12px;
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 100;
	color: #555;
	text-transform: initial;
	margin-left: 15px;	
	transition: ease 0.3s;
    -webkit-transition: ease 0.3s; /* Safari */
}

.monje:hover {
		background-color: #FFED00;

}

/* -- FOOTER -- */
footer{
	font-family: 'Lora', serif;
	font-size: 10px;
	padding: 20px 0 5px 0;
	display: block;
	text-align: center;
	width: 100%;
	box-sizing:border-box;
}
footer[data-html*="index"]{
	position: absolute;
	bottom: 0px;
	padding-top: 5px;
}
